.sortable > svg,
sortedby > svg {
    opacity: 0;
    scale: 0.3;
    transition: opacity .3s, scale .3s;
}

.sortable:hover > svg,
.sortedby > svg {
    opacity: 1;
    scale: 1;
}

.season-btn > svg {
    scale: 1;
    transition: scale .3s;
}

.season-btn:hover > svg {
    scale: 1.1;
}

.table-row:hover .modal-btn, .hoverable-tablerow:hover .modal-btn {
  display: inline;
}

.table-row:hover .progress-image,  .hoverable-tablerow:hover .progress-image { 
  background-size: 0%;
}

.modal-btn {
  display: none;
  transition-property: padding;
  transition-duration: 250ms;
}

.modal-btn:hover {
  padding: .125rem;
}