.table-row:hover .modal-btn {
  display: inline;
}

.table-row:hover .progress-image { 
  background-size: 0%;
}

.modal-btn {
  display: none;
  transition-property: padding;
  transition-duration: 250ms;
}

.modal-btn:hover {
  padding: .125rem;
}